<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Tropfenfotografie</title>
  </head>
  <body>

      <div class="container-fluid" style="padding: 20px;">
          <div class="row">
              <form method="POST" action="/">
                <div class="row" style="border-bottom: 1px solid gray; padding-left: 100px; margin-top: 20px; margin-bottom: 50px; padding-bottom: 20px;">
                      <button type="submit" name="shoot" class="btn btn-success" style="margin-left: 10px;">Aufnahme</button>
                </div>
                <div class="row">
                {% for n in range(1, 4) %}
                  <div class="col">
                      <div class="form-group">
                          <label>V{{ n }}</label>
                          {% for i in range(3) %}
                          <input type="text" class="form-control" name="waitV{{ n }}X{{ i }}" aria-describedby="emailHelp" placeholder="Wait V{{ n }}" value="{{ data['waitV' ~ n|string ~ 'X' ~ i|string] }}">
                          <input type="text" class="form-control" name="openV{{ n }}X{{ i }}" aria-describedby="emailHelp" placeholder="Open V{{ n }}" value="{{ data['openV' ~ n|string ~ 'X' ~ i|string] }}">
                          {% endfor %}
                      </div>
                      <button type="submit" name="submitV{{ n }}" class="btn btn-info" style="margin-left: 10px;">Test V{{ n }}</button>
                      <button type="submit" name="submitV{{ n }}OC" class="btn btn-info" style="margin-left: 10px;">V{{ n }}</button>
                  </div>
                {% endfor %}
                </div>
                <div class="row" style="margin-top: 50px; border-top: 1px solname gray; padding-top: 20px;">
                  <div class="col">
                      <div class="form-group form-check">
                          <label class="form-check-label" for="camera">Kamera</label>
                          <input type="text" class="form-control" name="camtime" placeholder="Verzögerung" value="{{ data['camtime'] }}">
                          <button type="submit" name="submitC" style="margin-top: 10px;" class="btn btn-primary">Test</button>
                          <button type="submit" name="submitCF" style="margin-top: 10px;" class="btn btn-warning">Test + Blitz</button>
                      </div>
                  </div>
                  {% for n in range(1, 4) %}
                  <div class="col">
                      <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" {% if data['flash' ~ n|string] %}checked{% endif %} name="flash{{ n }}">
                          <label class="form-check-label" for="flash1">Blitz {{ n }}</label>
                          <input type="text" class="form-control" name="flashtime{{ n }}" placeholder="Verzögerung" value="{{ data['flashtime' ~ n|string] }}">
                          <button type="submit" name="submitF{{ n }}" style="margin-top: 10px;" class="btn btn-warning">Test</button>
                      </div>
                  </div>
                  {% endfor %}
                </div>
              </form>
          </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

